.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  &__Map {
    opacity: 0;
    width: 935px;
    height: 750px;
    position: relative;
    &__backgroundImg {
      width: 100%;
      height: 90%;
    }
    &__sceneContainer {
      width: 100%;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0;
    }
    &__sceneImg {
      width: 99%;
      margin: 8px 0 0 5px;
    }
    &__crossContainerFirstChoice {
      width: 7%;
      position: absolute;
      z-index: 2;
    }
    &__crossContainerSecondChoice {
      width: 7%;
      position: absolute;
      z-index: 2;
    }
    &__crossImg {
      width: 100%;
      opacity: 0.6;
      transition: ease 0.2s opacity;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
    &__Instructions {
      position: absolute;
      margin-left: -10%;
      top: 30;
      z-index: 10;
      &__Box {
        width: 50%;
      }
      &__Txt {
        position: absolute;
        top: 40;
        left: 50;
        width: 40%;
        line-height: 25px;
      }
      &__Img {
        width: 100%;
      }
    }
    &__Decison {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30;
      z-index: 10;
      &__firstChoice {
        font-size: 16px;

      }
      &__secondChoice {
        font-size: 16px;
      }
      &__txt {
        display: none;
        font-family: 'Trade Winds', cursive;
        font-size: 17px;
        padding: 10px;
        width: 100%;
        border-radius: 3px;
        border: none;
        margin-top: 10px;
        background-color: white;
        color: #000;
      }
    }
  }
}
