.screen {
    display: none;
}

.screen h1 {
    margin-bottom: 40px;
    font-size: 42px;
    color: #fff;
}

.is-open {
    display: flex;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    text-align: center;
    color: #fff;
    background-image: url('../assets/img/background.svg');
}

.screen button {
    display: block;
    padding: 20px 60px;
    margin: 60px 20px;
    font-size: 24px;
    font-family: 'Trade Winds', cursive;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background: none;
    transition: ease 0.15s all;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:hover {
      background: #fff;
      color: #000;
    }
}
