.screen {
    display: none;
}

.screen h1 {
    margin-bottom: 40px;
    font-size: 42px;
}

.screen p {
    font-size: 26px;
    font-weight: 700;
}

.is-open {
    display: flex;
    z-index: 999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    text-align: center;
    color: #000;
    background: #fff;
}

.screen button {
    display: block;
    padding: 20px 60px;
    margin: 60px 20px;
    font-size: 24px;
    border: 2px solid #000;
    background: none;
    cursor: pointer;
}
