// global
@import './global/reset';
@import './global/variables';


// mixins
@import './mixins/forsize';

// partials
@import './partials/start';
@import './partials/map';
@import './partials/end';

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  font-family: 'Trade Winds', cursive;
  font-size: 18px;
  background-image: url('../assets/img/background.svg');
  //margin: 20px 0 0 50px;
}
