html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.screen {
  display: none;
  width: 100vw; }

.screen h1 {
  margin-bottom: 40px;
  font-size: 42px;
  color: #fff; }

.is-open {
  display: flex;
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  color: #fff;
  background-image: url("../assets/img/background.svg"); }

.screen button {
  display: block;
  padding: 20px 60px;
  margin: 60px 20px;
  font-size: 24px;
  font-family: 'Trade Winds', cursive;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  background: none;
  transition: ease 0.15s all;
  cursor: pointer; }
  .screen button:focus {
    outline: none; }
  .screen button:hover {
    background: #fff;
    color: #000; }

.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative; }
  .Container__Map {
    opacity: 0;
    width: 935px;
    height: 750px;
    position: relative; }
    .Container__Map__backgroundImg {
      width: 100%; }
    .Container__Map__sceneContainer {
      width: 100%;
      position: absolute;
      z-index: 2;
      left: 0;
      top: 0; }
    .Container__Map__sceneImg {
      width: 99%;
      margin: 8px 0 0 5px; }
    .Container__Map__crossContainerFirstChoice {
      width: 7%;
      position: absolute;
      z-index: 2;
      right: 100;
      top: 500; }
    .Container__Map__crossContainerSecondChoice {
      width: 7%;
      position: absolute;
      z-index: 2;
      right: 305;
      top: 540; }
    .Container__Map__crossImg {
      width: 100%;
      opacity: 0.6;
      transition: ease 0.2s opacity;
      cursor: pointer; }
      .Container__Map__crossImg:hover {
        opacity: 1; }
    .Container__Map__Instructions {
      position: absolute;
      margin-left: -10%;
      top: 30;
      z-index: 10; }
      .Container__Map__Instructions__Box {
        width: 50%; }
      .Container__Map__Instructions__Txt {
        position: absolute;
        top: 40;
        left: 50;
        width: 40%;
        line-height: 25px; }
      .Container__Map__Instructions__Img {
        width: 100%; }
    .Container__Map__Decison {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 30;
      z-index: 10; }
      .Container__Map__Decison__firstChoice {
        font-size: 16px; }
      .Container__Map__Decison__secondChoice {
        font-size: 16px; }
      .Container__Map__Decison__Btn {
        font-family: 'Trade Winds', cursive;
        font-size: 17px;
        padding: 10px;
        width: 100%;
        border-radius: 3px;
        border: none;
        margin-top: 10px;
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
        cursor: pointer; }
        .Container__Map__Decison__Btn:focus {
          outline: none; }
        .Container__Map__Decison__Btn:hover {
          background-color: rgba(0, 0, 0, 0.8); }

.open {
  display: none;
  height: 100vh; }

.end-img {
  position: relative;
  padding-top: 20px; }
  .end-img-src {
    width: 40%;
    position: absolute;
    top: 0;
    left: 30%;
    animation: laugh 0.2s alternate infinite; }
.end-msg {
  margin-top: 500px;
  color: #fff;
  font-size: 14px;
  text-align: center; }
.end-btn {
  text-align: center; }
  .end-btn-retry {
    display: inline-block;
    padding: 20px 60px;
    margin: 60px 20px;
    font-size: 24px;
    font-family: 'Trade Winds', cursive;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background: none;
    transition: ease 0.15s all;
    cursor: pointer; }
  .end-btn-retry:hover {
    background-color: #fff;
    color: #000; }

@keyframes laugh {
  from {
    padding-top: 20px; }
  to {
    padding-top: 25px; } }
* {
  box-sizing: border-box; }

html {
  width: 100%;
  font-size: 62.5%; }

body {
  font-family: 'Trade Winds', cursive;
  font-size: 18px;
  background-image: url("../assets/img/background.svg"); }

/*# sourceMappingURL=style.css.map */
